@font-face {
  font-family: 'Roboto-Regular';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../public/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../public/fonts/Roboto/Roboto-Black.ttf');
}

:root {
  /* -------------- Fonts -------------- */
  --fnt-regular: 'Roboto-Regular';
  --fnt-medium: 'Roboto-Medium';
  --fnt-bold: 'Roboto-Bold';
  --fnt-dark: 'Roboto-Black';

  /* -------------- Colors -------------- */
  --clr-purple-blue: #6b2bd9;
  --clr-bluish-purple: #D7D1E3;
  --clr-french-blue: #0070BC;
  --clr-pale-aqua: #BFD7E8;
  --clr-himalaya: #655F2B;
  --clr-lawn-green: #48A400;
  --clr-beryl-green: #D2E9C8;
  --clr-wild-race: #DFE688;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-porcelain: #F1F2F7;
  --clr-waikawa-grey: #6A6F95;
  --clr-oslo-grey: #8D8D8E;
}